/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
  
}

.text-area {
    /*-fx-border-color:#F8FFF4;*/
    -fx-color: #F8FFF4;
}

.scrollPane {
/*    -fx-background:#ffffff;*/
    -fx-background:#f6f5f1;
}

/*.Button {
    -fx-background-color:#D2D6CC;
}

.Button:hover{
    -fx-background-color:#f6f5f1;
}*/

#textwhite {
    -fx-background-color:#ffffff;
}

#helptext .content{
    -fx-background-color:#f6f5f1;
}

#abouttext:focused {
    -fx-border-color: #D2D6CC;
}

#abouttext .content{
    -fx-background-color:#D2D6CC;
    /*-fx-border-color: #D2D6CC;*/
}


#borderpane {
    -fx-background-color: #D2D6CC;
}

#textbackground {
    -fx-background-color: #f8fff4;
}

#text-area {
    -fx-text-fill:#f8fff4;    
}

#text-area .content {
    -fx-background-color:#474350;

}

#toppane{
    /*-fx-background-color:#E6EBEO;*/
}

#bottompane {
    /*-fx-background-color:#5D576B;*/
}
